body {
	background-color: #354D6C;
}

.scoreboard-view {
	width: 94%;
	max-width: 420px;
	margin: 10px auto;
	background-color: white;
	height: auto;
	border-radius: 8px;
	overflow: hidden;
	padding-bottom: 10px;
}

.scoreboard-view li {
	list-style: none;
	width: 100%;
	margin-top: 15px;
}

.scoreboard-view li div {
	text-align: center;
	font-size: 41px;
}

.score-point {
	font-weight: bold;
}

.game-reference {
	color: #354D6C;
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 40px;
	font-size: 18px;
}