body {
	background: white !important;
}
.scoreboard-view li {
	list-style: none;
	width: 100%;
	margin-top: 15px;
}

.scoreboard-view li div {
	text-align: center;
	font-size: 41px;
}

.score-point {
	font-weight: bold;
}