html, body { height: 100%; width: 100%; margin: 0; }

.new-game-container, .join-game-container {
	height: 140px;
	margin: auto;
	padding: 5px 0;
}

.new-game-container {
	background-color: #354D6C;
}

.join-game-container {
	background-color: #37AFD1;
}

input {
	margin: 20px auto;
	display: block;
	width: 140px;
	height: 20px;
}


