<!doctype html>  
<html>  
  <head>
  	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>Cardscore Fehler</title>
    <link rel="stylesheet" href="templates/style/error.css">
    </head>
  <body>
  <div class="error-container">
  	<h3>Fehler</h3>
  	<div class="error-text"> <%- error %></div>
  </div>
    
   </body>
</html>