<!doctype html>  
<html>  
  <head>
    <title><%- title %></title>
    <link rel="stylesheet" href="templates/style/game.css">
    </head>
  <body>
   <%- reactOutput %> 
   </body>
   <script src="../client/build/GameMain.js"></script>
</html>