<!doctype html>  
<html>  
  <head>
  	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="templates/style/game.css">
    <link rel="stylesheet" href="templates/style/scoreboard.css">
    <link rel="stylesheet" href="templates/style/chartist.min.css">
    
    </head>
  <body>
   <%- reactOutput %> 
   </body>
   <script src="../build/client/ScoreBoard.js"></script>
</html>