<!doctype html>  
<html>  
  <head>
  	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>Neues Spiel</title>
    <link rel="stylesheet" href="templates/style/start.css">
    </head>
  <body>
   <%- reactOutput %> 
   </body>
   <script src="../build/client/SartScreen.js"></script>
</html>